<!DOCTYPE html>

<html>

<head>
    <title>Timestamp Microservice | Vicente Ferrer</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
        type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/466a0b8fee.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <h1>Timestamp Microservice</h1>
        <hr />
        <section class="container">
            <h2>Usage:</h2>
            <ul>
                <li>
                    <a href="/api/2015-12-25">[origin]<b>/api/2015-12-25</b>
                        <i class="fa-solid fa-square-arrow-up-right"></i></a>
                </li>
                <li>
                    <a href="/api/1451001600000">[origin]<b>/api/1451001600000</b>
                        <i class="fa-solid fa-square-arrow-up-right"></i></a>
                </li>
            </ul>

            <h2>Output:</h2>
            <p>
                <code>
                    <span class="bracket">{</span>
                    <span><span class="key">"unix"</span>: <span class="value">1451001600000</span>,</span>
                    <span><span class="key">"utc"</span>: <span class="value">"Fri, 25 Dec 2015 00:00:00 GMT"</span></span>
                    <span class="bracket">}</span>
                </code>
            </p>
        </section>
        <footer>
            <p>
                Developed by <a href="#">Vicente Ferrer</a>
            </p>
        </footer>
    </main>

    <script type="module" src="/js/script.js"></script>
</body>

</html>